<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: "logo" do %>
      <%= image_tag "K-logo.png", alt: "K" %>
    <% end %>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
        </li>
        <li class="nav-link">
          <%= link_to "Koala", root_path %>
        </li>
        <li class="nav-link">
          <%= link_to t(".submit"), new_post_path %>
        </li>
      </ul>
    </nav>
    <div class="navigation-tools">
      <ul class="navigation-menu show">
        <% if signed_in? %>
          <%= link_to t("layouts.application.sign_out"), sign_out_path, method: :delete, class: "sign-up" %>
          <li class="nav-link"><%= link_to current_user.email, root_path %></li>
      <% else %>
        <%= link_to t("layouts.application.sign_in"), sign_in_path, class: "sign-up" %>
      <% end %>
    </div>
  </div>
</header>
